{% extends 'main/buy-ticket.html'%}

{%block title%}
Тролль
{%endblock%}
{%load static%}

{%block content%}

    <div style="position: relative;
                margin: 50px auto;

                width: 1000px;
                height: 390px;

                background: #191c29;
                border-radius: 5px; ">

        <div style="position: relative;
                    margin: auto;
                    margin-left: 10%;
                    border-radius: 10px;
                    text-align: center;

                    width: 263px;">
            <img src = "{%static 'main/img/troll.jpg'%}" width=100%>
        </div>

        <div style="position: relative;
                    border-radius: 10px;
                    margin: auto;
                    margin-right: 10%;
                    margin-top: -350px;
                    font-size: 170%;
                    font-family: Georgia, serif;
                    font-weight: bolder;

                    width: 500px;
                    height: 50px;
                    color: white">
            Тролль (2022)
        </div>

        <div style="position: relative;
                    border-radius: 10px;
                    margin: auto;
                    margin-right: 10%;
                    margin-top: 10px;
                    font-size: 120%;
                    font-family: Georgia, serif;
                    text-align: justify;

                    width: 500px;
                    height: 250px;
                    color: white">
            Во время строительства горной железной дороги рабочие потревожили гигантского тролля,
            который начинает сеять вокруг хаос и разрушения.
        </div>
    </div>

{%endblock%}