{% extends 'main/buy-ticket.html'%}

{%block title%}
Аватар: Путь воды
{%endblock%}
{%load static%}

{%block content%}

    <div style="position: relative;
                margin: 50px auto;

                width: 1000px;
                height: 390px;

                background: #191c29;
                border-radius: 5px; ">

        <div style="position: relative;
                    margin: auto;
                    margin-left: 10%;
                    border-radius: 10px;
                    text-align: center;

                    width: 250px;">
            <img src = "{%static 'main/img/avatar.jpg''%}" width=100%>
        </div>

        <div style="position: relative;
                    border-radius: 10px;
                    margin: auto;
                    margin-right: 10%;
                    margin-top: -350px;
                    font-size: 170%;
                    font-family: Georgia, serif;
                    font-weight: bolder;

                    width: 500px;
                    height: 50px;
                    color: white">
            Аватар: Путь воды (2022)
        </div>

        <div style="position: relative;
                    border-radius: 10px;
                    margin: auto;
                    margin-right: 10%;
                    margin-top: 10px;
                    font-size: 120%;
                    font-family: Georgia, serif;
                    text-align: justify;

                    width: 500px;
                    height: 250px;
                    color: white">
            После принятия образа аватара солдат Джейк Салли становится предводителем народа на'ви и берет на
            себя миссию по защите новых друзей от корыстных бизнесменов с Земли. Теперь ему есть за кого бороться
            — с Джейком его прекрасная возлюбленная Нейтири. Когда на Пандору возвращаются до зубов вооруженные
            земляне, Джейк готов дать им отпор.
        </div>
    </div>

{%endblock%}